#titulo1{
    color: #ffe4c4;
}

#toolbar1{
    color: #f0ffff;
}

#titulo2{
    text-align: center;
    text-decoration:solid;
    color: #ffe4c4;
}

ion-content{
  --background: #ffb000;
}



.scale-up-center{animation:scale-up-center 0.9s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

