<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
      <ion-label>LISTA DE ESTUDIANTES</ion-label>
    </div>   
  </div>

  <div class="content_div">
    <ion-grid>
      <ion-row>
        <ion-col size = 12>
          <p class="lbl">5TO BASICO</p>
          <ion-list style="overflow-y: scroll !important; height: 100%;">
            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start" [style.backgroundImage]="'url(/assets/icon/foto1.jpg)'">
              </ion-thumbnail>
              <ion-label>
                <h2>Juanito Pérez<span style="float: right">
                  <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
                  </span></h2>
                <p id="rate">Muy flojo</p>
                <p id="rate">Vive lejos </p>
                <p>89% asistencia</p>
              </ion-label>
            </ion-item>

           
           
          </ion-list>
        </ion-col>

        
       
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>