<ion-header id="head" [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <h3>StudentsDays</h3>
      <p>Bienvenido:</p>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="uno">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="dos">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="tres">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-segment-button>
  </ion-segment>
 </ion-toolbar>
</ion-header>
<ion-content>
<ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title id="footer">Derechos reservados StudentsDays</ion-title>
  </ion-toolbar>
</ion-footer>
