<ion-header id="head" [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <h3>StudentsDays</h3>
      <p>Bienvenido:</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div id="container">
    
  <img src="https://i.ytimg.com/vi/3TmYBWOKtLo/maxresdefault.jpg" alt="profesor">
  <ion-button color="tertiary" expand="block">Registrar Asistencia</ion-button>
  <ion-button color="tertiary" expand="block" (click)="pagina1()">Ingresar alumno/a</ion-button>
  <ion-button color="tertiary" expand="block">Lista de alumnos</ion-button>
  <ion-button color="tertiary" expand="block">Calendario de evaluaciones</ion-button>



    
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="exit-outline" (click)="cerrarSesion()" type="button"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title id="footer">Derechos reservados StudentsDays</ion-title>
  </ion-toolbar>
</ion-footer>
